/* GENERAL */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #888484;
}

/* LOGO */
.logo-container img {
  width: 250px;
  margin-bottom: 20px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background-color: #3d3e3d;
  color: white;
}

/* CTA BUTTONS */
.cta, .back-btn {
  padding: 12px 28px;
  font-size: 1rem;
  background-color: #717b73;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
  transition: 0.2s ease;
}

.cta:hover, .back-btn:hover {
  background-color: #005fcc;
}

/* FEATURES */
.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 20px;
}

.feature-card {
  flex: 1 1 250px;
  margin: 10px;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

/* VISUAL */
.visual img {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

/* INFO SECTION */
.info {
  padding: 100px 20px;
  background-color: #f5f5f5;
}

.info h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.info ul {
  list-style-type: disc;
  padding-left: 40px;
  margin-top: 15px;
}

/* FINAL CTA */
.cta-final {
  text-align: center;
  padding: 70px 20px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #1c1c1c;
  color: #4b8589;
}

/* LEARN PAGE */
.learn-header {
  text-align: center;
  padding: 50px 20px;
  color: #fff;
}

.learn-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  padding: 20px;
}

.learn-card {
  background: #6c686800;
  padding: 30px 10px;
  border-radius: 8px;
  border: 1px solid #000;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.2s;
}

.learn-card:hover {
  background: #007bff;
  color: white;
}

.back-btn-container {
  text-align: center;
  padding: 30px;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .features {
    flex-direction: column;
  }

  .feature-card {
    margin: 10px 0;
  }
}
